.todo-item {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  border-radius: 3px;
  position: relative;

  // first level
  .todo-header {
    display: flex;
    padding: 24px 32px 15px 32px;
  }
  .todo-footer {
    display: flex;
    padding: 0px 32px 25px 72px;
  }
}
