.todo-item {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  border-radius: 3px;
  position: relative;
  margin-top: 8px;

  // first level
  .todo-header {
    display: flex;
    padding: 24px 32px 15px 32px;
  }

  .todo-footer {
    display: flex;
    padding: 0px 32px 25px 72px;
  }

  // second level
  .todo-check {
    $checkbox-size: 24px;
    height: $checkbox-size;
    width: 40px;

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;

      & + label {
        position: relative;
        cursor: pointer;
      }

      & + label:before {
        content: '';
        height: $checkbox-size;
        width: $checkbox-size;
        vertical-align: text-top;
        display: inline-block;
        background: #FFFFFF;
        border-radius: 3px;
      }

      &:hover + label:before, &:checked + label:before {
        background: theme-color('primary');
      }

      &:checked + label:after {
        content: '';
        position: absolute;
        left: 4px;
        top: 12px;
        height: 3px;
        width: 3px;
        background: #FFFFFF;
        box-shadow:
          2px 0px 0 #FFFFFF,
          4px 0px 0 #FFFFFF,
          6px 0px 0 #FFFFFF,
          6px -2px 0 #FFFFFF,
          6px -4px 0 #FFFFFF,
          6px -6px 0 #FFFFFF,
          6px -8px 0 #FFFFFF,
          6px -10px 0 #FFFFFF,
          6px -12px 0 #FFFFFF;
        transform: rotate(45deg);
      }
    }
  }

  .todo-title {
    flex: 1;
    font-size: 1.5rem;

    span {
      display: block;
      position: relative;
      left: 0px;
      top: -8px;
      width: 70%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .todo-control {
    font-size: 1.5rem;

    i {
      margin-right: 16px;
      margin-left: 16px;
      position: relative;
      top: -8px;
    }
  }

  .todo-icon {
    margin-right: 10px;

    span {
      margin-left: 2px;
    }
  }
}
